@import "../../App.scss";

.card {
    .card-header {
        padding: 24px;
        overflow: hidden;

        @media (max-width: 992px) {
            border: 0 !important;
            padding-bottom: 0;
        }
    }

    .card-body {
        form {
            p {
                font-size: 13px;
                margin-bottom: 5px;
                font-family: "Roboto", sans-serif;
            }

            .form-control {
                font-size: 14px;
                font-weight: 400;
                border-radius: 0;
                min-height: 42px;
            }

            .form-control:focus {
                border: 1px solid #dfdfdf;
            }

            .danger-border {
                border: 1px solid red !important;
            }

            .img-container {
                .image {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    margin: auto;
                    position: relative;

                    .overlay {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 70px;
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.562);

                        p {
                            color: #fff;
                            font-size: 13px;
                            font-family: "Roboto", sans-serif;
                        }

                        .upload {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 70px;
                            cursor: pointer;
                            opacity: 0;
                        }
                    }
                }
            }

            .btn {
                font-size: 15px;
                font-weight: 700;
                padding: 10px 30px;
                color: $theme-color !important;
                background: $secondary-color !important;
            }
        }

        .section {
            .section-header {
                .section-title {
                    color: #555;
                    font-size: 14px;
                    margin-top: 6px;
                    font-weight: 500;
                    margin-bottom: 0;
                    font-family: "Roboto", sans-serif;
                }
            }

            .section-body {
                font-size: 14px;
                text-transform: capitalize;
                font-family: "Roboto", sans-serif;

                .btn {
                    font-size: 15px;
                    font-weight: 700;
                    padding: 10px 30px;
                    color: $theme-color !important;
                    background: $secondary-color !important;
                }
            }
        }
    }
}
